.own{
  
  width: 550px;
  height:400px;
  padding: 10px;
 margin-top: 2%;
 background-color: rgba(128, 128, 128, 0.116);

}
.Pown{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}
.card-img-top{
  width: 200px;
  height: 200px;
} 

.Chead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  padding: 5px;
  box-shadow: 3px 3px 6px grey;

}

.input-container input[type="number"] {

  font-size: 16px;
  
  border-radius: 4px;
  width: 35px;
}
.input-container{
  display: flex;

  align-items: baseline;
  padding: 5%
}
.pb{
  padding-left: 10px;
}
.card-text{
  font-size: x-small;
}
.cBody{
  text-align: center;
  margin: 5%;
}
.cardbody{
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid rgba(128, 128, 128, 0.411);
}
.cardbody1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}
.text{
  color: rgba(103, 102, 102, 0.999);

}
.text1{
  margin-left:70% ;

}
